# /etc/systemd/system/gunicorn.service
[Unit]
Description=Gunicorn daemon to serve app
After=network.target

[Service]
Type=notify
User=ec2-user
Group=ec2-user
RuntimeDirectory=gunicorn
RuntimeDirectoryMode=0775
WorkingDirectory=/home/ec2-user/app
ExecStart=/home/ec2-user/app/venv/bin/gunicorn app:app
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target
